<h1>Your question :</h1>
<%= params[:question] %>

<h1>Coach's answer :</h1>
<%= @answer %>


<%# afficher la question qui a été posée %>
<%# afficher la réponse du coach => elle dépend de la question %>
